{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <title>Prductos</title>
</head>

<body class="m-15"
    style="background-image: url('{% static 'images/gradiente.png' %}'); background-size: cover; background-repeat: no-repeat;">
    <header class="w-full flex flex-row items-center">
        <div class="w-50 rounded-md">
            <img src="{% static 'images/logo.jpeg' %}" alt="Logo" class="w-100 h-[3.5rem] rounded-md">
        </div>
        <h1 class="text-6xl font-bold flex flex-1 justify-center uppercase text-bold" style="font-family: Kodchasan;">
            {{ title }}
        </h1>
    </header>

    <main class="w-full flex flex-row mt-[5rem] gap-[10rem]">
        <article class="w-1/4 p-11 bg-[#344C2A] rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold text-center text-white uppercase mb-5" style="font-family: Kodchasan;">
                Bienvenido</h2>
            <div
                class="rounded-full w-[7rem] h-[7rem] overflow-hidden bg-white flex justify-center items-center m-auto">
                <img src="{% static 'images/user.png' %}" alt="">
            </div>
            <p class=" text-white text-center font-light mt-5" style="font-family: Kodchasan;">Colaborador {{ user }}
            </p>
            <div class="flex flex-col gap-5 mt-11 ms-[4rem]">
                <a href="{% url 'index' %}" class="text-white text-2xl hover:underline transition-all"
                    style="font-family: Kodchasan;">. Dashboard</a>
                <a href="{% url 'products' %}" class="text-white text-2xl hover:underline transition-all"
                    style="font-family: Kodchasan;">.
                    Productos</a>
                <a href="{% url 'chat' %}" class="text-white text-2xl {{ active }} transition-all"
                    style="font-family: Kodchasan;">.
                    IA chat</a>
                <a href="#" class="text-white text-2xl hover:underline transition-all" style="font-family: Kodchasan;">.
                    Serrar sesion</a>
            </div>
        </article>


        <section class="w-3/4 flex flex-col bg-gray-200 text-white rounded-lg shadow-lg">
            <div class="flex-1 overflow-y-auto p-4 space-y-3 h-96">
                <!-- Mensaje del usuario -->
                {% if request.POST.message %}
                <div class="flex justify-end">
                    <div class="bg-emerald-600/45 px-4 py-2 rounded-2xl max-w-xs text-sm">
                        {{ request.POST.message }}
                    </div>
                </div>
                {% endif %}

                <!-- Respuesta de la IA -->
                <!-- Respuesta de la IA -->
                {% if response %}
                <div class="flex justify-start">
                    <div class="bg-emerald-700 px-4 py-2 rounded-2xl max-w-xs text-sm">
                        {{ response }}

                        {% if tabla %}
                        <table class="table-auto border-collapse border border-gray-400 mt-4">
                            <thead>
                                <tr>
                                    <th class="border px-4 py-2">ID</th>
                                    <th class="border px-4 py-2">Producto</th>
                                    <th class="border px-4 py-2">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in tabla %}
                                <tr>
                                    <td class="border px-4 py-2">#{{ forloop.counter }}</td>
                                    <td class="border px-4 py-2">{{ row.producto }}</td>
                                    <td class="border px-4 py-2">{{ row.cantidad }} uni</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>

            <div class="flex items-center border-t border-gray-700 p-3">
                <form method="post" action="{% url 'chat' %}" class="flex items-center border-t border-gray-700 p-3">
                    {% csrf_token %}
                    <input type="text" name="message" placeholder="Escribe un mensaje..."
                        class="flex-1 bg-emerald-700/50 text-white px-4 py-2 rounded-2xl focus:outline-none" />
                    <button type="submit"
                        class="ml-3 bg-emerald-600/60 hover:bg-emerald-700 px-4 py-2 rounded-2xl font-semibold">
                        Enviar
                    </button>
                </form>

            </div>
        </section>

    </main>



</body>

</html>